# Backend API Base URL
VITE_API_URL=http://localhost:3000

# Mappls Vector Maps SDK Key
VITE_MAPPLS_KEY=0ec8a551bb6c52185d80282e718eb7df

# Firebase Web Configuration
VITE_FIREBASE_API_KEY=AIzaSyCtqWqS1mjKpQ3wiKNgNkY4SlUsFBRIW9I
VITE_FIREBASE_AUTH_DOMAIN=wana-9705e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=wana-9705e
VITE_FIREBASE_STORAGE_BUCKET=wana-9705e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=873274374868
VITE_FIREBASE_APP_ID=1:873274374868:web:d187289ed3652ecd979941
VITE_FIREBASE_MEASUREMENT_ID=G-BS5B2J5X7J
