# Server Configuration
PORT=3000

# MongoDB Database Connection URI (Local or MongoDB Atlas)
MONGO_URI=mongodb://localhost:27017/wana

# Firebase Admin SDK Credentials (Required for auth token verification & Firestore cleanup)
FIREBASE_PROJECT_ID=wana-9705e
FIREBASE_CLIENT_EMAIL=your-firebase-adminsdk-email@wana-9705e.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
